#catgif iframe{
    width: 100% !important;
    background-color: #ffffff;
}

.foot {
    display: block;
    margin-left: 40px;
    margin-bottom: 20px;
    font-size: .8em;
}

#note {
        position: absolute;
        z-index: 6001;
        top: 0;
        left: 0;
        right: 0;
        background-color: rgba(255,255,0,0.6);
        text-align: center;
        line-height: 2.5;
        overflow: hidden; 
        -webkit-box-shadow: 0 0 5px black;
        -moz-box-shadow:    0 0 5px black;
        box-shadow:         0 0 5px black;
    }
    .cssanimations.csstransforms #note {
        -webkit-transform: translateY(-50px);
        -webkit-animation: slideDown 2.5s 1.0s 1 ease forwards;
        -moz-transform:    translateY(-50px);
        -moz-animation:    slideDown 2.5s 1.0s 1 ease forwards;
    }

    #close {
      position: absolute;
      right: 10px;
     /* text-indent: -9999px;
      background-image: url(../close.png);
      height: 16px;
      width: 16px;*/
      cursor: pointer;
    }
    .cssanimations.csstransforms #close {
      display: none;
    }
    
    @-webkit-keyframes slideDown {
        0%, 100% { -webkit-transform: translateY(-50px); }
        10%, 90% { -webkit-transform: translateY(0px); }
    }
    @-moz-keyframes slideDown {
        0%, 100% { -moz-transform: translateY(-50px); }
        10%, 90% { -moz-transform: translateY(0px); }
    }

/*contact form styles*/
textarea {
	resize: none;
}
.form-label {
	font-size: 18px;
	color: #aaa;
	margin-top: 20px;
    margin-bottom: 10px;
	display: block;
	opacity: 1;
	-webkit-transition: .333s ease top, .333s ease opacity;
	transition: .333s ease top, .333s ease opacity;
}
.form-control {
    background-color: #f7f7f7;
    width: 100%;
    letter-spacing: -1px;
    color: #333;
    font-size: 28px;
	border-radius: 0;
	border-color: #ccc;
   	border-width: 0 0 2px 0;
   	border-style: none none solid none;
   	box-shadow: none;
}
.form-control:focus {
	box-shadow: none;
	border-color: #1a1a1a;
}
.js-hide-label {
	opacity: 0; 	
}
.js-unhighlight-label {
	color: #999;
}
.btn-start-order {
	background: 0 0 #f7f7f7;
    border: 2px solid dodgerblue;
    border-radius: 3px;
    color: dodgerblue;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: inherit;
    margin: 70px 0;
    padding: 15px 60px 12px 60px;
    text-transform: uppercase;
    transition: all 0.25s ease 0s;
        cursor: pointer;
}
.btn-start-order:hover,.btn-start-order:active, .btn-start-order:focus {
	border-color: dodgerblue;
    background-color: dodgerblue;
	color: #fff;
}
.select-style {

}

.form-button {
    text-align: center;
}