<div class="bio">
    <div class="bio__header">
        <a href="{{ site.url }}{{ " / " | relative_url }}">
	  {{ site.header }}
	</a>
    </div>
    <div class="bio__desc">{{ site.desc }}</div>
    <div class="work__images">
        <img class="work__img" alt="" src="http://localhost:4000/louie/assets/images/artscal-glamour.png">Heuristic evaluations, sitemaps & user flow diagrams
        <img class="work__img" alt="" src="http://localhost:4000/louie/assets/images/ux-mockup-cropped.png">Heuristic evaluations, sitemaps & user flow diagrams
        <img class="work__img" alt="" src="http://localhost:4000/louie/assets/images/artscal-wire3.png">Responsive wireframes
        <img class="work__img" alt="" src="http://localhost:4000/louie/assets/images/prototype1.png">Interface design
        <img class="work__img" alt="" src="http://localhost:4000/louie/assets/images/artscal-glamour.png">Rapid prototyping
        <img class="work__img" alt="" src="http://localhost:4000/louie/assets/images/artscal-glamour.png">Frontend development
    </div>
</div>
