{% if site.posts %}
  <ul class="rows">
    <li class="row__cols">
      <div class="row__title">
        {% if site.post_title %}
          {{ site.post_title }}
        {% else %}
            Title
        {% endif %}
      </div>
      <!--
      <div class="row__date">
        {% if site.post_date %}
          {{ site.post_date }}
        {% else %}
          Date
        {% endif %}
      </div>
      <div class="row__cat">
        {% if site.post_cat %}
          {{ site.post_cat }}
        {% else %}
          Category
        {% endif %}
      </div>-->
    </li>
    {% for post in site.posts %}
      <li class="row__post">
        <a href="{{ site.url }}{{ post.url | relative_url }}"> 
          <div class="row__title {% if include.uid == post.id %}row__active{% endif %}">
            › {{ post.title }}
          </div>
          <!--
          <div class="row__date {% if include.uid == post.id %}row__active{% endif %}">
            {% if site.date_format %}
              {{ post.date | date: site.date_format }}
            {% else %}
              {{ post.date | date: "%b %-d, %Y" }}
            {% endif %}
          </div>
          <div class="row__cat {% if include.uid == post.id %}row__active{% endif %}">
            {{ post.category }}
          </div>-->
        </a>
<!--
        {% if post.img %}
          <img class="row__img" src="{{ post.img }}" alt="{{ post.title }}">
        {% endif %} -->
      </li>
    {% endfor %}
  </ul>
{% endif %}



<br><br>
<div class="info">
<h2><b>SKILL SET</b></h2>
Metrics Definitions, Heuristic Analysis, Stakeholder & User Interviews, Comparative Analysis, Content Audits, Defining Design Principles, Task Flow Analysis, User Scenarios, Information Architecture, Site Maps, Personas, Style Tiles, Wireframes, Design Pattern Libraries, Prototypes, Usability Testing, HTML/CSS/JavaScript Prototyping, Version Control  
<br><br>

<h2><b>PEOPLE I'VE WORKED WITH</b></h2>
Adobe, Monotype / Fonts.com, Broward Cultural Division, ArtsCalendar.com, 50 States Apparel, Broward College, Leadership Florida, Florida Press Association, Levatas, Renaissance International  
<br><br>



{% if site.data.social %}
   <h2><b>HOW YOU CAN REACH ME</b></h2>
    <ul class="bio__social">
      {% for item in site.data.social %}
        <li><a href="{{ item.url }}" data-url="{{ item.url }}" target="_blank">&#155; {{ item.title }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
  <br><br>

</div>  
 