.bio {
  max-width: 800px;
  margin-bottom: 10px;
  margin-top: 90px;
}

.bio__header {
  margin-bottom: 20px;
  margin-top: 40px;
  font-weight: 700;

  a {
  	text-decoration: none;

  	&:hover {
  		text-decoration: none;
  	}
  }
}

.bio__social {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  list-style: none;
}

.bio__desc {
    display: inline-block;
    margin-top: 63px;
    margin-bottom: 30px;
    background-color: rgba(255,255,255,0.6);
    padding: 17px 34px 26px 34px;
    font-family: "freight-text-pro", serif;
    font-style: italic;
    font-size: 2em;
    font-kerning: auto;
    //letter-spacing: -2px;
    //-webkit-box-shadow: 0px 4px 78px -15px rgba(0,0,0,0.5);
    //-moz-box-shadow: 0px 4px 78px -15px rgba(0,0,0,0.5);
    //box-shadow: 0px 4px 78px -15px rgba(0,0,0,0.5);
    z-index: -1;

}

.work__images {
    width: 100%;
    a {
        font-family: $maison, sans-serif;
    }
}
.work__img {
    min-height: 200px;
    min-width: 300px;
    margin: 50px 0 0 0;
    cursor: pointer;
}
.left {
    position: relative;
    right: calc(100%/3);
}

.right {
    position: relative;
    left: calc(100%/3);
}

// media queries

@include media-query($on-palm) {
    .bio__header {
    margin-top: 70px;
    }
}